<div>
    <h3>Edit Customer</h3>
    <fieldset>
        <div>
            <label for="name">Name:</label>
            <input id="name" type="text" data-bind="value: customer.name"/>
        </div>
        <div>
            <label for="phoneNumber">Phone Number:</label>
            <input id="phoneNumber" type="text" data-bind="value: customer.phoneNumber"/>
        </div>
        <div>
            <button class="btn btn-primary" data-bind="click: save">Save</button>
        </div>
    </fieldset>
</div>

